.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 20px !important;
  border-radius: 3rem !important;
  height: 5px !important;
}

.swiper-pagination {
  position: relative !important;
}

.swiper-pagination-bullet {
    width: 5px !important;
    height: 5px !important;
}
