@import '../Mixins.scss';

.FooterContainer {
  background-color: #0b1524;
  color: #fff;
  height: auto;
  width: 100%;
  display: flex;
  padding: 45px 65px;
  & > div {
    max-width: 1500px;
  }
}

.FooterSearch {
  @include hideMD;
  width: 80%;
  background-color: #1da1f3;
  height: auto;
  position: absolute;
  border-radius: 24px;
  padding: 28px 36px;
  max-width: 1200px;
  top: -54px;
}

.AlignDots {
  margin-left: 8px !important;
}

.EmailText {
  color: #fff;
}

.EmailSubText {
  color: #fff;
  font-weight: lighter;
}

.EmailButton {
  z-index: 1 !important;
  position: absolute !important;
  color: #1da1f3 !important;
  background-color: #fff !important;
  font-size: 10px !important;
  border-radius: 30px !important;
  width: 94px !important;
  height: 32px !important;
  left: 0;
  font-weight: 700;
  margin: 12px !important;
  margin-left: 2.7rem !important;
}

.EmailButton:hover {
  color: #fff !important;
  background-color: #1da1f3 !important;
}

.Items {
  width: fit-content;
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #e5eaef !important;
  &::marker {
    color: #505b74 !important;
  }
}
.Items:hover {
  color: #1da1f3 !important;
}
