* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mui-1yc0u6m-MuiInputBase-input-MuiFilledInput-input:-webkit-autofill {
  width: 100%;
}

.rmdp-container {
  // width: 27.8rem;
  border-radius: 0.5rem;
}

.rmdp-input {
  width: 100%;
  height: 4em !important;
  margin: 0;
  padding: 1em;
  border: 1px solid;
  border-color: #f4f6fa;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: #f4f6fa;
}

.mui-3lau7h-MuiStack-root {
  direction: rtl;
}

