@use 'sass:map';
@import './palette.module';

@mixin global {
  border-radius: 12px !important;
  width: 327px;
  font-weight: 600 !important;
  font-size: 16px !important;
}

.mui-1pl4u8t-MuiPaper-root-MuiAlert-root {
  @include global();
}

.mui-1frpxba-MuiPaper-root-MuiAlert-root {
  @include global();
  color: #fff !important;
  background-color: map.get($success, 500) !important;
}

.mui-1ipaz1c-MuiPaper-root-MuiAlert-root {
  @include global();
  color: #fff !important;
  background-color: #000 !important;
}

.mui-yxr82o-MuiPaper-root-MuiAlert-root,
.mui-d1w1dc-MuiPaper-root-MuiAlert-root,
.mui-te56om-MuiPaper-root-MuiAlert-root,
.mui-xqi4ww-MuiPaper-root-MuiAlert-root,
.mui-2zmrr6-MuiPaper-root-MuiAlert-root {
  display: flex;
  justify-content: space-between;
}

.mui-ki1hdl-MuiAlert-action {
  margin-left: unset !important;
}
