@use 'sass:map';
@import './palette.module';
// todo - need refactor after finishing responsive & modals

// styled for Modal component in forget password

.ForgetPasswordForm,
.VerificationCodeForm,
.AlerVerificationDialog,
.RememberMeAlert,
.ResetPasswordForm {
  .MainContainer,
  .TextContainer {
    .Title {
      color: map.get($gray, 800);
      font-weight: 600;
      font-size: 1.5rem;
      @media screen and (max-width: 700px) {
        font-size: 1.125rem;
      }
    }
    .Subtitle {
      color: map.get($gray, 700);
      font-weight: 500;
      font-size: 1.125rem;
      @media screen and (max-width: 700px) {
        font-size: 0.8rem;
      }
    }
  }
}

.ForgetPasswordForm,
.VerificationCodeForm {
  min-width: 280px;
  width: 100%;
  max-width: 546px;
  align-items: center;
  padding: 0 12px 0 0;
  @media screen and (max-width: 1200px) {
    padding: 0;
  }

  .LockIconContainer {
    border: 1px solid map.get($gray, 200);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .MainContainer {
    margin: 20px 0;
    text-align: center;
  }

  .HelpCenterLink {
    color: map.get($primary, 500);
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
    margin-top: 6px;
    text-decoration: none;
  }

  .ButtonContainer {
    width: 100%;
    margin-top: 40px;
  }
}

// styles for verification alert in forget password
.AlerVerificationDialog {
  min-width: 380px;
  max-width: 295px;
  text-align: center;
  padding: 0 5px;

  @media screen and (max-width: 1200px) {
    min-width: 200px;
    max-width: 295px;
  }

  .TextContainer {
    margin: 10px 0;
  }
}

// styles for Remember me alert in forget password
.RememberMeAlert {
  min-width: 380px;
  max-width: 295px;
  width: 100%;
  align-items: center;
  padding: 0 6px;

  @media screen and (max-width: 1200px) {
    min-width: 200px;
    max-width: 295px;
  }

  .LockIconContainer {
    border: 1px solid map.get($gray, 100);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .MainContainer {
    margin: 20px 0;
    text-align: center;
  }

  .ButtonContainer {
    width: 100%;
  }
}

.ResetPasswordForm {
  min-width: 280px;
  width: 100%;
  max-width: 546px;
  padding: 0 12px 0 0;
  text-align: left;

  @media screen and (max-width: 1200px) {
    padding: 0;
  }
}
